.outer{
    width: 100%;
    min-height: 47rem;
    // background: rgb(117, 85, 147);
    // background: linear-gradient(90deg, rgba(117, 85, 147, 1) 0%, rgba(147, 106, 163, 1) 6%, rgba(194, 144, 196, 1) 16%, rgba(249, 188, 234, 1) 60%, rgba(196, 147, 199, 1) 83%, rgba(177, 132, 187, 1) 92%, rgba(117, 85, 147, 1) 100%);
}
.inner{
    width: 85%;
    margin: auto;
}