.row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.helperText{
    color: #D32F2F;
    
}
.datepicker {
    .MuiTextField-root {
        width: 100%;
    }
}

.thankpage {
    text-align: center;

    .thank-content {
        margin-top: 2rem;
        font-weight: bold;
        color: green;
    }
}