.cart-height{
    min-height: 47rem;
}
.cart-p {
    top: 25% !important;
}
.empty-div{
    font-weight: bold;
    color: white;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}