.fullnav {
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 2;

    .light {
        background: transparent;
        background: linear-gradient(90deg, rgba(117, 85, 147, 1) 0%, rgba(147, 106, 163, 1) 6%, rgba(194, 144, 196, 1) 16%, rgba(249, 188, 234, 1) 60%, rgba(196, 147, 199, 1) 83%, rgba(177, 132, 187, 1) 92%, rgba(117, 85, 147, 1) 100%);
    }

    .dark {
        background: transparent;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(43, 40, 40, 1) 11%, rgba(139, 123, 132, 1) 26%, rgba(123, 113, 124, 1) 44%, rgba(79, 74, 83, 1) 64%, rgba(70, 61, 77, 1) 80%, rgba(72, 72, 73, 1) 100%, rgba(68, 54, 69, 1) 100%);
    }

    .inside {
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    width: 15%;

    .logo-icon {
        font-size: 3rem;
        color: white;
    }

    p {
        color: white;
    }
}

nav {
    width: 25%;

    ul {
        justify-content: space-around;
    }

    li {
        color: white;
        text-align: center;
        padding: 7px 15px;
        border-radius: 10px;
        cursor: pointer;
    }

    li:hover {
        text-decoration: underline;
    }
}

.cart {
    width: 18%;
    display: flex;
    justify-content: space-around;

    div {
        cursor: pointer;
        padding: 4px 12px;
        display: flex;
    }
}

.cart div:hover {
    border-radius: 20px;
    background-color: violet;
}

.active {
    color: black;
    font-weight: bold;
    background-color: rgb(243, 233, 243);
    border-radius: 10px;

    svg {
        fill: black;
    }

}